button:hover {
    transition: 2s;
    color: white;
}

button {
    transition: 2s;
    background-color: ghostwhite;
}

.caption {
    position: relative;
    overflow: hidden;
}

.picture-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    transform: translateY(100%);
    transition: transform .35s ease-out;
}


.title {
    transform: translateY(-130%);
    margin: 0;
    padding: 12px;
    transform: translateY(calc(-100% -10px));
    transition: transform .35 ease-out;
    text-align: left;
}

.caption:hover .title {
    transform: translateY(0%);
}

.caption::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption:hover::before {
    background: rgba(0, 0, 0, .5);
}

.caption {
    …
    transform: translateY(0);
}

.caption:hover .picture-text {
    transform: translateY(0);
}
